<!DOCTYPE html>
<html>
  <head>
    <title>Contact form</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <nav id="header" class="navbar navbar-expand-lg navbar bg" style= "background-color:rgb(196, 163, 196);height: 90px;color:white;">
        <div class="container-fluid">
          {% load static %}
          <h1 style="font-family: 'Satisfy', cursive;color: white;margin-bottom: -10px;"> wizilla</h1>
          <!-- <img src="{% static 'Free_Sample_By_Wix (2).jpeg' %}" style="display: inline-block; height: 90px; width: auto;" alt="My image"> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collaprgb(196, 163, 196)se" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" id='a1'aria-current="page" href="/home/products/" style="color: white;text-decoration: none;">Shop</a> 
              </li>
            <li class="nav-item">
              <a class="nav-link active" id='a1'aria-current="page" href="/home/" style="color: white;text-decoration: none;">Home</a> 
            </li>
        </ul>
        </div>
      </nav>
    <div class="main-block" style="display: flex;align-content: center;justify-content: center;margin-top: -10%;">
        {% csrf_token %}
        <div class="info">
            {% load static %}
            <img style="margin-left: 1%;margin-bottom: 2%;display: inline-block;height: 700px;" src="{% static 'paysuccess.gif' %}" alt="">
            <h1 style="margin-left: 31%;margin-top: -25%;">Congratulations!</h1>
            <h3 style="margin-left: 25%;width: 100%;">Your Payment was successful.</h3>
            <br><br><br>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>      
  </body>
</html>
